/* Coolors Exported Palette - https://coolors.co/000000-e5e5e5-ffffff */

/* CSS */
// black: hsla(0, 0%, 0%, 1);
// platinum: hsla(0, 0%, 90%, 1);
// white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$black: #000000ff;
$platinum: #e5e5e5ff;
$white: #ffffffff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$platinum: hsla(0, 0%, 90%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$platinum: rgba(229, 229, 229, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #e5e5e5ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #000000ff, #e5e5e5ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #e5e5e5ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #000000ff, #e5e5e5ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #e5e5e5ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #e5e5e5ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #e5e5e5ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #e5e5e5ff, #ffffffff);
$gradient-radial: radial-gradient(#000000ff, #e5e5e5ff, #ffffffff);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}


.my-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.actions {
  margin: 2rem auto;

  a {
    margin: 1rem;
  }
}

.header {
  margin: 1rem;
}

h5 {
  margin: 1.2rem;
}

.intro {
  background-color: $platinum;
}

.intro-a {
  margin: 1rem;
}
